body {
  background: #d3edf8;
  font-family: "Roboto", sans-serif;
}

.input-group {
  position: relative;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px;
  background: #d3edf8;
  border-radius: 10px;
  outline: none;
  color: #444444;
  border: 1px solid #0da2ff;
}

.placeholder {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 14px;
  padding: 0px 5px;
  color: #0da2ff;
  transition: 0.3s;
  pointer-events: none;
}

.input:focus + .placeholder,
.input:not(:placeholder-shown) + .placeholder {
  top: -10px;
  background-color: #d3edf8;
}

.input-password {
  margin-top: 10px;
  padding: 10px;
  background: #d3edf8;
  border-radius: 10px;
  outline: none;
  color: #444444;
  border: 1px solid #0da2ff;
}

.placeholder-password {
  position: absolute;
  top: 58px;
  left: 8px;
  font-size: 14px;
  padding: 0px 5px;
  color: #0da2ff;
  transition: 0.3s;
  pointer-events: none;
}

.input-password:focus + .placeholder-password,
.input-password:not(:placeholder-shown) + .placeholder-password {
  top: 38px;
  background-color: #d3edf8;
}
